


/****PARAMETRES GENERAUX****/
html{width:100%;min-width:300px;}
ul{list-style-type:none}

body{width:100%;margin:0px;}

p
{
    font-family : 'Roboto', sans-serif;
}

h1,h2
{
    font-family : 'Shrikhand', cursif , sans-serif ;

}

a{cursor:pointer;
font-family: 'Roboto', sans-serif;}

.repas h2{
  font-weight: 100;
}

.btn
{
  background: linear-gradient(#FF79DA,#9356dc);
  opacity:1;
  transition:opacity 1s ease-in-out;
  border:1px solid #9356DC;
  border-radius:25rem;  
  width:50%;
  max-width:530px;
  margin:auto;
  margin-top:3rem;
  margin-bottom:2rem;
  padding:1em 2em;
  color:white;
  box-shadow:5px 5px rgba(237,237,237,0.7);
  text-decoration: none;
}

.btn:hover
{
  opacity:0.7;
}


.loader
{

  width:50px;
  height:50px;
  display:inline-block;
  vertical-align: middle;
  position:fixed;
  overflow:visible;
  left:50%;
  top:50%;
  
  animation:charge 4s linear forwards;


}
@keyframes charge{
  0%{opacity:1}
  100%{opacity:0}
}


.index{
  animation:charger 7s ease ;
}

@keyframes charger{
  0%{opacity:0}
  40%{opacity:0}
  100%{opacity:1;}
}

.loading-spinner{
  border-radius :50px;
  border:6px solid #9356DC;
  opacity:0.4;


}

.loading-spinner::after
{content:"" ;
position:absolute;
top:-6px;
left:-6px;
bottom:-6px;
right:-6px;
border-radius: 50px;
border:6px solid transparent;
border-top-color:#FF79DA;
animation:spin 2s linear infinite;
}

@keyframes spin{
  0% {transform:rotate(0deg)}
  100%{transform:rotate(360deg);}
  
}

/*****INDEX*****/


/**Header**/


#titre{
  width:100%;
}

#titre img{
  width:auto;
  object-fit:contain;
  margin:auto;
  margin-bottom:0;
  margin-top:1rem;
  margin-left:10%;
  height:5%;}
  
#localisation{
  background-color:rgba(234,234,234,0.7);
  border-top:5px solid rgba(219,219,219,0.7);
  padding:2rem;
  padding-left: 0;
  padding-right: 0;
  text-align:center;
  margin-bottom:0px;
  width:100%;
}

.fas.fa-map-marker-alt{
  position:relative;
  left:-30px;
}

#présentation{
  background-color:rgba(246,246,246,0.7);
  margin-top:0px;
  text-align:center;
  margin-bottom:4rem;
  padding:5rem;
  padding-left:1rem;
  padding-right:1rem;
}

#présentation h2{
  margin-top:0px;
  font-weight:bold;
  margin-bottom:1rem;
}



nav h2{
  text-align:left;
  margin-left:4%;
}

nav{
  text-align:center;
  width:100%;
  margin-bottom:125px;
}

nav li{
  display:flex;
  background-color:rgba(246,246,246,0.7) ;
  border-radius:2.5rem;
  margin:3%;
  box-shadow:5px 6px rgba(245,245,245,0.5);
  padding:3%;
  align-items: center;
}

nav li:hover {
  background-color:rgba(245,237,255,0.7)
  ;
}

.choix{
  margin:auto;
  font-weight:bold;
  width:100%;
  color:black;}

.liste{
  position:relative;
  left:-1.8em;
  padding:1% 2%;
  border:solid 5px #9356DC;
  border-radius:50%;
 
  margin:auto;
  color:white;
  background-color:#9356DC;
  font-weight:bolder;
}

nav i{
  position:relative;
  left:10px;
  opacity:0.7;
}

nav li:hover i{
  color:#9356dc;
}


/**MAIN**/
#restaurants
{
  height:100%;
  width:auto;
  min-width:300px;
  background-color:rgba(246,246,246,0.7);
  margin:0px;
  justify-content:space-around;
  display:flex;
  flex-direction:column;
  padding:5%;
}

.resto img{
  width:100%;
  max-height:180px;
  border-radius:20px 20px 0 0;
  object-fit:cover;
}

#restaurants .resto{
  height:auto;
  box-shadow:10px 10px 10px rgba(237,237,237,0.7) ;
  background-color:white;
  border-radius:20px;
  text-align:center;
  margin-bottom:5%;
  width:auto;
  position:relative;

}

.resto p{
  padding-left:10px;
  padding-top:0;
  margin-top:2%;
  
  text-align:start;
}

.resto h3{ 
  padding-left:10px;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:0;
  text-align:start;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}



#restaurants a{
  color:black;
  text-decoration:none;

}


.span{display:flex;
justify-content:space-between;
padding-right:1em;}

.new {
  position:absolute;
  top:0;
  right:15px;
  border:2px solid #99E2D0 ;
  color:rgba(24,149,118,0.7);
  background-color:#99E2D0;
  font-weight:bold;
  border-radius:3px;
}

p.new{
  padding:0.5em 1em;
  text-align:center;
}

#restaurants i {
  font-size:20px;
}


.heart-index .fas.fa-heart {color:transparent;
  left:0;
  top:-20px;
  font-size:17px;}

.span2{display:flex;
flex-direction:column;}

/**Footer**/
footer{
  height:auto;
  width:auto;
  background-color:rgba(53,53,53,1);
  color: white;
  margin-right:0px;
  padding:4rem 0;
}

footer a{
  color:white;
  text-decoration:none;
}

footer li{
  margin-bottom:1.5rem;
}

footer i{
  margin-right:1em;
}

footer h1{
  margin-top:0;
  padding:2.5rem;
  margin-bottom:0;
}

.index footer{
  padding-top:0;
}

.display{
  display:flex;
  flex-direction: column;
}

.display ul{margin:0;}

/****MENUS*****/
/**Header**/
.en-tête i {
  position:absolute;
  top:1.5rem;
  left:2rem;
  color:black;
}

#logo img{
  width:40%;
  margin:auto;
  margin-left:30%;
  margin-top:5%;
  height:100%;
}

.photo {
  height:22rem;
  border-radius:0;
  width:100%;
}

.restaurant .far.fa-heart{
  
  position:relative;
  top:20px;
  font-size:20px;
}

.span3 .fas.fa-heart{
  position:relative;
  
  color:transparent;
  font-size:19px;
  transition:all 3s ease;
  transform-origin:bottom;
}

.fas.fa-heart:hover{
  background: linear-gradient(120deg,#9356DC 0%,#FF79DA 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
}


/**Main**/
main {
  background-color:rgba(246,246,246,1);
  border-radius:3rem 3rem 0 0;
  position:relative;
  top:-4rem;
  text-align:center;
  padding:20px;
  padding-bottom:145px;
  margin-bottom:-10rem;
}


.repas{display:flex;
  flex-direction:column;
  align-items:center;
  width:auto;}

.information{
  display:flex;
  background-color:white;
  margin-bottom:3rem;
  border-radius:1rem;
  width:315px;
  padding-left:15px;
  box-shadow:0px -1px 15px 10px rgb(237 237 237);

}

.validation{
  
  border-radius:0 1rem 1rem 0;
  background-color:#99E2D0;
  color:white;
  width:0px;
  display:flex;
  justify-content:center;
  align-items:center;
  transform-origin:right;
  transition:all 2s ease-out;
}

.fa-check-circle{  
  opacity:0;
  
}

.flex1
{
  display:flex;
  text-align: left;
  flex-direction: column;
  justify-content:space-around;
  flex:1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.price
{
  padding-right:0.5em;
  display:flex;
  align-items:center;
}


.information:hover  .validation{
  
  width:70px;
  
}

.information:hover .fa-check-circle{
  opacity:1;
  transform:rotate(-360deg);
  transition: all 1s ease;

}


main ul{padding:0}
main .prix{display:flex;
  justify-content:space-between;
  width:100%;
}

main p{
  margin-top:5px;
  margin-bottom:5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
main h3{
  margin:0;
  padding-top:5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

main h2{
  width:55px;
  text-align:start;
  margin:2rem;
  margin-bottom:4%;
  border-bottom:2px solid #99E2D0;
  padding-bottom:8px;
}

main h1 {
  margin-top:10px;
  margin-bottom:0;
}

main article{
  margin-top:15%;
}

.restaurant{
  display:flex;
  justify-content:space-between;
  width:90%;
}

.span3{display:flex;
  flex-direction:column;}
  


main .btn{
  max-width:500px;
  margin:auto;
  margin-top:15%;
  margin-bottom:15%;
  box-shadow:15px 15px 15px 15px rgba(237,237,237,0.7);
}

.entrées{
  animation:entrées 2s linear;
}
@keyframes entrées{
  0%{opacity:0;}
  100%{opacity:1;}
}

.plats{animation:entrées 4s linear ;}
@keyframes entrées{
  0%{opacity:0;}
  50%{opacity:0}
  100%{opacity:1;}
}

.desserts{animation:entrées 6s linear ;}
@keyframes entrées{
  0%{opacity:0;}
  50%{opacity:0}
  100%{opacity:1;}
}


/***************************************************************MEDIA QUERIES******************************************************************/

@media all and (min-width:764px) and (max-width:1199px)



{

  

  /*INDEX*/

  .loader
  {
    top:500px;  
  }

  #titre{
    text-align:center;
  }
  #titre img{
    margin:auto;
  }
  
  
  .fas.fa-map-marker-alt{
    font-size:50px;
  }
  .heart-index{
    position:relative;
  
  }

  nav h2{
    padding-left:35px;
  }
  .liste {
    padding:12px;
    padding-top:9px;
    padding-bottom:9px;
    position:relative;
    left:-3rem;
  }


  .resto i{
    position:relative;
    bottom:50%;
  }

  .new{
    TOP: 0;
    left: 82%;
    POSITION: ABSOLUTE;
  }

  p.new{
    padding: 1em 2em;
    text-align:center;
  }


  
  /*MENU*/

  body{max-width:100%;margin:auto;}

    
  .en-tête.photo{
    height:25rem;
  }

  .repas{display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}
  .restaurant{
    width:90%;
    margin:auto;
  }

  .restaurant .far.fa-heart{
    transform-origin:bottom ;
    position:relative;
    top:20px;
    font-size:20px;
  }

  .fas.fa-heart:hover{
    background: linear-gradient(120deg,#9356DC 0%,#FF79DA 100%);
    background-clip: border-box;
    -webkit-background-clip: text;

  }

  .span3 .fas.fa-heart{
    font-size:19px;
    color:transparent;
    transition:all 3s ease;transform-origin:bottom;
  }

  .fas.fas.fa-arrow-left {
    color:black;
    position:absolute;
    top:60px;
    left:4rem;
  }

  .repas{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    width:100%;
  }

  .repas article{
    margin:auto;
  }

  .repas li{
    width:auto;
  }

  .plats.exception2{height:545px;}
  .desserts.exception3{height:545px;}
  
  footer .fas{
    color:white;
    font-size:20px;
    margin:0;
    margin-right:10px;
  }


  footer h1 {
    text-align:center;
  }

  .display{
    display:flex;flex-direction: row;
    justify-content:space-around;
  }

  .display li{
    margin:20px;
  }
   
}




@media all and (min-width:1200px) and (max-width:1399px)

{
  
 /*INDEX*/

  .loader{
    top:410px;
    }

  #titre{
    text-align:center;
    }

  #titre img{
    margin:auto;
    }
  
  

  nav ul{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    }

  nav li{
    width:550px;
    
    }

  nav .liste{
    padding:10px;
    padding-top:7px;
    padding-bottom:7px;
    left:-3rem;
    }

  #restos-titre{
    padding-left:57px;
    margin-bottom:0;
    }


    .new{
      TOP: 0;
      left: 68%;
      POSITION: ABSOLUTE;
    }
  
    p.new{
      padding: 1em 2em;
      text-align:center;
    }

  

  #restos1_2{
    display:flex;
    justify-content:space-around;
    }

  #restos1,#restos2{
    width:50%;
    margin:60PX;
    }

  .resto{
    margin-top:100px;
    }
 
 
  /*MENU*/

    .fas.fa-arrow-left {
      color:black;
      margin:8%;
      position:absolute;
      top:-1rem;
    }

    .restaurant{
      width:90%;
      margin:auto;
    }

    .en-tête.photo{
      height:30rem;
    }

    .restaurant .far.fa-heart{
      
      transform-origin:bottom ;
      font-size:20px;
    }

    .fas.fa-heart:hover{
      background: linear-gradient(120deg,#9356DC 0%,#FF79DA 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
    }

    .span3 .fas.fa-heart{
      font-size:19px;
      position:relative;
      color:transparent;
      transition:all 3s ease;
      transform-origin:bottom;
    }
    
    .repas{
      display:flex;
      flex-direction: row;
      justify-content:space-around;
      flex-wrap:wrap;
      width:100%;
    }

    .repas article{
      margin:1%;
    }

    .repas li{
      height:100px;
      width:350px;
    }

    main .btn {
      width:30%;
    }

    footer .fas{
      color:white;
      font-size:20px;
      margin:0;
      margin-right:10px;
    }

    footer h1 {
      text-align:center;
      }

    .display{
      display:flex;flex-direction:row;
      justify-content:space-around;
    }

    .display li{
      margin:20px;
    }
  
}




@media all and (min-width:1400px)

{
  
  
    /*INDEX*/
      body{
        margin:auto;
        max-width:1500px
      }

      #présentation{
        text-align:center;
      }
    
      nav ul{
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        padding:0;
      }

      nav li{
        width:100%;
      }

      nav .liste{
        padding:12px;
        padding-top:8px;
        padding-bottom:8px;
        left:-4rem;
      }
    
      .new{
        TOP: 0;
        left: 73%;
        POSITION: ABSOLUTE;
      }
    
      p.new{
        padding: 1em 2em;
        text-align:center;
      }

      p{margin-top:1rem;
        padding-bottom:0%;
      }

      .resto img{
        height:70%;
      }

    

      #restos-titre{
        margin-bottom:0;
        padding-left:53px;
      }

      .fas.fa-map-marker-alt{
        font-size:20px;
      }

      #logo img{
        padding-left:13%;
      }

      #restos1_2{
        display:flex;
        justify-content:space-around;
      }

      #restos1{
        width:50%;
        margin:60PX;
      }

      #restos2{
        width:50%;
        margin:60Px;
      }

      .resto{
        margin-top:100px;
      }

      #restaurants{
        width:auto;
      }


    /*MENU*/
  
    body{
      max-width:1500px;
      margin:auto;
    }

    .loader{top:300px;
      
    }
    
    #logo img{
      padding-left:0;
      margin-top:1%;
    }
    
    .en-tête{
      max-width:1500px;
      max-height: 700px;
    }

    .en-tête .photo{
      object-fit:cover;
      height:30rem;
    }

    .restaurant{
      width:90%;
      margin:auto;
    }

    .fas.fa-arrow-left {
      color:black;
      margin:6%;
      position:absolute;
      top:-2rem;
      left:3rem;
    }

    .repas{display:flex;
      flex-direction: row;
      justify-content:space-around;
      flex-wrap:wrap;
      width:AUTO;
    }

    .repas article{
      margin:auto;
    }

    .repas li{
      width:350px;
    }

    main{
      padding-left:0;
      top:0;
      border-radius:0;
    }

    main article{
      margin-top:0;
    }

    #exception{
      padding-top:0;
      margin-top: 135px;
    }

    .restaurant .far.fa-heart{
    
      transform-origin:bottom ;
      font-size:20px;
    }

    .fas.fa-heart:hover{
      background: linear-gradient(120deg,#9356DC 0%,#FF79DA 100%);
      background-clip: border-box;
      -webkit-background-clip: text;

    }

    .span3 .fas.fa-heart{
      font-size:19px;
      position:relative;
      color:transparent;
      transition:all 3s ease;
      transform-origin:bottom;
    }

    footer{
      padding:8rem 8rem 1rem;
    }
    
    footer .fas{
      color:white;
      font-size:20px;
      margin:0;
      margin-right:10px;
    }

    footer h1 {
      text-align:center;
    }

    .display{
      display:flex;flex-direction:row;
      justify-content:space-around;
    }

    .display li{
      margin:20px;
    }

    
  
}